# Backtesting @ git+https://github.com/IperGiove/backtesting.py.git@d7f6046bafe486d3d5a6f63a6bb0f731940caa8b
gymnasium==0.26.2
streamlit==1.40.1
pandas==1.5.3
numpy==1.23.0
yfinance==0.2.49
torch==2.4.1+cu121